@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Nunito;
        src: url("/public/fonts/Nunito-Regular.ttf"), format(ttf);
        font-display: swap;
    }
    @font-face {
        font-family: Nunito Semibold;
        src: url("/public/fonts/Nunito-SemiBold.ttf"), format(ttf);
        font-display: swap;
    }
    @font-face {
        font-family: Montserrat SemiBold;
        src: url("/public/fonts/Montserrat-SemiBold.ttf"), format(ttf);
        font-display: swap;
    }
}

.login-with::before,
.login-with::after{
    content: "";
    width: 110px;
    height: 2px;
    position: absolute;
    margin: auto;
    background: rgb(31 41 55 / 0.3);
    @apply dark:bg-white/30 sm:block hidden
}
.login-with::before{
    top: 11px;
    left: -120px;
}
.login-with::after{
    top: 11px;
    left: 90px;
}